<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Blinkplan <%= data.page.title || "Help" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Loading Bootstrap -->
    <link href="/static/css/bootstrap.and.responsive.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">Contact</h3>
            <p>Still have some questions?<br/>
              No problem. Please email us and we'll help you out immediately.<br/>
              Go to:
            </p>

          </div> <!-- /span8 -->

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Blinkplan</h3>
              <ul>
                <li>Easy flatplanning / pagination</li>
                <li>Multi page drag and drop</li>
                <li>Creates PDFs</li>
                <li>Sections and Stitch-In calculator</li>
                <li>Securely stored online</li>
              </ul>
              Go to: <a href="http://www.blinkplan.com">blinkplan.com</a>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-55600-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
