<div class="navsliver">
  <div class="container">
    <div class="navbar">
      <ul class="nav pull-right">
        <li><a href="#contact">Contact</a></li>
        <li><a href="/demo">Demo</a></li>
        <li><a href="#prices">Prices</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="full-width header">
  <div class="container">
    <%= image_tag "/static-assets/img/logo.gif" %>
  </div>
</div>

<div class="full-width about">
  <div class="container">
    <h1 class="big">Create magazine paginations<br/>the easy way.</h1>
    <br/>
    <h2>Click <%= link_to "here", "/demo", :target => "_blank", :rel => "nofollow" %> to try our demo, and see for yourself.</h2>
    <br/>
    <div class="row" style="margin-top: 25px;">
      <div class="span4">
        <i class="icon-thumbs-up icon-2x"></i>
        <blockquote>
          <p>"I have found that Blinkplan is a godsend within the pagination world."</p>
          <small>James O’Connell</small>
        </blockquote>
      </div>
      <div class="span4">
        <i class="icon-comment icon-2x"></i>
        <blockquote>
          <p>"I've been designing magazines for 7+ years and haven't come across anything as easy and useful."</p>
          <small>Krystal Neuhofel</small>
        </blockquote>
      </div>
      <div class="span4">
        <i class="icon-heart icon-2x"></i>
        <blockquote>
          <p>"Thank you for developing Blinkplan – it rocks :-)"</p>
          <small>Max Fuchs</small>
        </blockquote>
      </div>
    </div>
    <p style="margin-top: 50px;"><a href="/signup" class="btn btn-primary btn-large" title="sign up">Start using Blinkplan</a></p>
  </div>
</div>

<div class="full-width features">
  <div class="container">
    <div class="row">
      <div class="span2 offset1">
        <i class="icon-magic icon-large"></i><br/>
        <h4>Drag &amp; Drop</h4>
        <p>Multi-page drag and drop</p>
      </div>
      <div class="span2">
        <i class="icon-file icon-large"></i><br/>
        <h4>PDFs</h4>
        <p>Export a PDF version of your flatplan</p>
      </div>
      <div class="span2">
        <i class="icon-tags icon-large"></i><br/>
        <h4>Categories</h4>
        <p>Create colour-coded content types (eg, ads, editorial, promotions)</p>
      </div>
      <div class="span2">
        <i class="icon-bar-chart icon-large"></i><br/>
        <h4>Totals</h4>
        <p>Totals for each content type, and a grand total, are calculated for you</p>
      </div>
      <div class="span2">
        <i class="icon-envelope icon-large"></i><br/>
        <h4>Email</h4>
        <p>Email the flatplan to members of your team</p>
      </div>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="span2 offset1">
        <i class="icon-ellipsis-vertical icon-large"></i><br/>
        <h4>Sections</h4>
        <p>Calculate paper sections, and stitch-in locations</p>
      </div>
      <div class="span2">
        <i class="icon-keyboard icon-large"></i><br/>
        <h4>Keyboard Shortcuts</h4>
        <p>Keyboard shortcuts to improve your productivity</p>
      </div>
      <div class="span2">
        <i class="icon-undo icon-large"></i><br/>
        <h4>Undo</h4>
        <p>Full undo functionality in case you make a mistake</p>
      </div>
      <div class="span2">
        <i class="icon-paste icon-large"></i><br/>
        <h4>Duplicate content</h4>
        <p>Span your content across several pages</p>
      </div>
      <div class="span2">
        <i class="icon-lock icon-large"></i><br/>
        <h4>Security</h4>
        <p>SSL security to keep your flatplans safe</p>
      </div>
    </div>
    <p style="margin-top: 50px;"><a href="/signup" class="btn btn-primary btn-large" title="sign up">Start using Blinkplan</a></p>
  </div>
</div>

<div class="full-width blurb">
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        <h3><strong>blinkplan</strong> is much more convenient than using a design package or spreadsheet software to create magazine flatplans.</h3>
        <h2 style="margin-top: 45px">It helps you<br/><span class="text-error">KICK</span> ASS.</h2>
        <p style="margin-top: 50px;">Click <%= link_to "here", "/demo", :target => "_blank", :rel => "nofollow" %> to try our demo, and see for yourself.</p>
      </div>
    </div>
    <div class="row" style="text-align: left; margin-top: 80px;">
      <div class="span6">
        <p style="text-align: center;"><i class="icon-info-sign icon-2x"></i></p>
        <p style="font-weight: 100;"><strong>blinkplan</strong> is an ingenious system for magazine staff who are responsible for creating the flatplan or pagination for their titles. It's a <em>time-saver</em> first and foremost, and much more convenient than using a design package or spreadsheet to <em>create flatplans</em>.
  If you're sick of counting ads and coming up with the wrong total; if <em>you have better things to do with your time</em> than figure out where your section breaks are for bind-ins; if you tear your hair out every time you have to move 100 pages just to relocate one spread, you need <strong>blinkplan</strong>.</p>
      </div>
      <div class="span6">
        <p style="text-align: center;"><i class="icon-cloud icon-2x"></i></p>
        <p style="font-weight: 100;">If your magazine signs up as a subscriber to <strong>blinkplan</strong>, you can use the <em>online software</em> to create and modify flatplans. These are stored on Blinkplan's <em>secure server</em> and you can access them from any internet-connected computer in the world.
  At any time, you can send it to colleagues for viewing as a <em>printable PDF</em>.</p>
      </div>
    </div>
    <p style="margin-top: 50px;"><a href="/signup" class="btn btn-primary btn-large" title="sign up">Start using Blinkplan</a></p>
  </div>
</div>

<a id="prices"> </a>
<div class="full-width prices">
  <div class="container">
    <h2 class="big">Start your 30 days <strong><span class="text-error">free trial</span></strong> today</h2>
    <p class="lead sub-title">No credit card required. No long term contracts. Pay as you go.</p>
    <p class="lead sub-title">Or, click <%= link_to "here", "/demo", :target => "_blank", :rel => "nofollow" %> to try our <strong>demo first</strong>. No signup or anything required for this.</p>
    <div class="row plans">
      <div class="span2 offset1">
        <div class="plan">
          <h5 class="plan-name">Big</h5>
          <h5 class="plan-price">$69</h5>
          <span class="muted">per month</span>

          <ul class="unstyled plan-features">
            <li><strong>5</strong> active flatplans</li>
            <li><strong>1024</strong> pages per flatplan</li>
          </ul>

          <a href="/signup/4" class="btn btn-block btn-large btn-primary" title="Sign up for the Big plan">Choose Plan</a>
        </div>
      </div>
      <div class="span2">
        <div class="plan">
          <h5 class="plan-name">More</h5>

          <h5 class="plan-price">$39</h5>
          <span class="muted">per month</span>

          <ul class="unstyled plan-features">
            <li><strong>5</strong> active flatplans</li>
            <li><strong>600</strong> pages per flatplan</li>
          </ul>

          <a href="/signup/3" class="btn btn-block btn-large btn-primary" title="Sign up for the More plan">Choose Plan</a>
        </div>
      </div>
      <div class="span2 preferred-plan">
        <div class="plan">
          <h5 class="plan-name">Standard</h5>

          <h5 class="plan-price">$29</h5>
          <span class="muted">per month</span>

          <ul class="unstyled plan-features">
            <li><strong>3</strong> active flatplans</li>
            <li><strong>400</strong> pages per flatplan</li>
          </ul>

          <a href="/signup/2" class="btn btn-block btn-large btn-primary" title="Sign up for the Standard plan">Choose Plan</a>
        </div>
      </div>
      <div class="span2">
        <div class="plan">
          <h5 class="plan-name">Tiny</h5>

          <h5 class="plan-price">$15</h5>
          <span class="muted">per month</span>

          <ul class="unstyled plan-features">
            <li><strong>3</strong> active flatplans</li>
            <li><strong>90</strong> pages per flatplan</li>
          </ul>

          <a href="/signup/8" class="btn btn-block btn-large btn-primary" title="Sign up for the Tiny plan">Choose Plan</a>
        </div>
      </div>
      <div class="span2">
        <div class="plan">
          <h5 class="plan-name"><span class="text-error">Trial</span></h5>

          <h5 class="plan-price"><span class="text-error">Free</span></h5>
          <span class="muted">30 days</span>

          <ul class="unstyled plan-features">
            <li><strong>1</strong> active flatplans</li>
            <li><strong>200</strong> pages per flatplan</li>
          </ul>

          <a href="/signup/1" class="btn btn-block btn-large btn-primary" title="Sign up for the Trial plan">Choose Plan</a>
        </div>
      </div>
    </div>

    <p><i class="icon-ok"></i> <small>You can upgrade or downgrade at any time.</small><br/>
      <i class="icon-ok"></i> <small>Please note: Each account is valid for <em>one</em> magazine.</small>
    </p>
    <h4 class="learn-more">
      <strong>Need More?</strong>
      <span>Or something else? Please contact us to discuss your ideas or concerns - we want to make the pricing as fair as possible.</span>
      <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(6)10\\\\,J\\\"T@OGnR\\\\\\\\UE33\\\\02\\\\02\\\\\\\\tF\\\\\\\\\\\\r2\\\\" +
"00\\\\\\\\17\\\\0$\\\\}^02\\\\0(\\\\\\\\3\\\\\\\"z\\\\740%&u72p9: 8m+%h>\\\""+
"\\\\\\\\\\\\e1ci41S`ZTrT27\\\\0o\\\\14\\\\0J\\\\_AS@05\\\\01\\\\00\\\\\\\\o" +
"};hy~}|fv+~imlp7s03\\\\\\\\\\\\\\\\\\\\\\\\\\\\t6\\\\02\\\\\\\\31\\\\05\\\\" +
"03\\\\\\\\06\\\\03\\\\00\\\\\\\\13\\\\01\\\\03\\\\\\\\U;22\\\\07\\\\00\\\\\\"+
"\\07\\\\0n\\\\\\\\\\\\)<g);;~1- 8&*-,+\\\\\\\\\\\\\\\\U|ZTZQ\\\\nA\\\\FXGA0" +
"I00\\\\\\\\#|7z17\\\\\\\\~js4,,d$cdkpnr\\\\\\\\rU\\\\\\\\31\\\\00\\\\02\\\\" +
"\\\\36\\\\04\\\\00\\\\\\\\14\\\\02\\\\00\\\\\\\\17\\\\0\\\\\\\\(\\\"}fo;n u" +
"ret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y++)y06<1(iif){++" +
";i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"   ;
while(x=eval(x));
//-->
//]]>
</script>.

    </h4>

  </div>
</div>
